body {
	height: 100%;
	margin:0;
	background-image: linear-gradient(#000000, #0C0E16 25%,#000F22 75%,#326280 92%,#89e7ff 97%, #CCF5FF 100%),url("https://cdn.discordapp.com/attachments/1039055252453871759/1048173210060996659/custom_end_sky.png");
	background-blend-mode:lighten;
	background-attachment: fixed;
	font-family:'Recursive';
}

a {
	color: #00C8FF;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #ff5900;
	background-color: transparent;
	text-decoration: none;
}

#discordWidget {
	display: inline-block;
	float:right;
	padding:5%;
}

.widget {
	display: flex;
	width: 300px;
	height: 500px;;
}

#content {
	display: inline-block;
	width:calc(80% - 310px);
	color:black;
	padding:5%;
/*	margin:auto;*/
	background:rgba(255, 255, 255, 0.90);
}
#content-container {
	z-index:1;
	max-width:55%;
	min-height:600px;
	background-color: white;
	margin:auto;
	padding: 20px 5% 50px;
	position:relative;
}
/*
#content{
	color:white;
	max-width:1000px;
	padding:5%;
	margin:auto;
	background:rgba(60, 60, 60, 0.90);
	border-top: 10px solid grey;
	border-bottom: 10px solid grey;
}
*//*
#content{
	max-width:1000px;
	/*max-width:80%;*//*
	margin:auto;
	margin-top:100px;
	margin-bottom:100px;
	background:white;
	box-shadow: 0px 0px 50px 50px white, 0px 0px 75px 75px black;
	border-radius:25px;
}
*/
#content a::after {
	content:': ' attr(href);
}

@media screen and (max-width: 1080px){
	.backgroundImage {
		background-size: 150vw;
	}
	#HEBottom img {
		position:absolute;
		opacity:0.3;
	}
    #discordWidget {
	display:inline;
	float:none;
	}
	#content{
		width:initial;
		padding:0;
	}
}
@media screen and (max-width: 700px){
	#content-container {
		max-width: 80%;
		padding: 5%;
	}
	#bottomContent {
		max-width: 100%;
	}
	#bottom {
		padding: 5%;
		max-width: 90%;
		height: 100%;
	}

	#bottomLogo {
		display: none;
	}

	#HEBottom {
		font-size: 80%;
	}
}

#websiteAuthor {
	position:fixed;
	bottom:0;
	opacity:0.5;
	font-size: 10px;
	padding: 5px;
	font-family: 'Comic Sans MS';
	content:"Site by lilclover <3 (for ur info im silly) made thiz sometime in like 2022-2023";
}